.price.active-detail {
    font-size: .24rem;
}

.price.active-detail em {
    margin-right: .2rem;
}

.price.active-detail span {
    display: inline-block;
    /* width: .48rem;
    height: .48rem;
    line-height: .48rem; */
    padding: .09rem .11rem;
    box-sizing: border-box;
    text-align: center;
    background: #fff;
    color: #f5174a;
    border-radius: .1rem;
    margin-left: .1rem;
    margin-right: .1rem;
    margin-top: .26rem;
    font-weight: bold;
}

.buy_area .fn_wrap span.title {
    display: block;
    width: .7rem;
    text-align: center;
    height: .38rem;
    line-height: .38rem;
    position: absolute;
    left: 0.2rem;
    top: 0.4rem;
    font-size: .24rem;
    background: #f52555;
    color: #fff;
    border-radius: .15rem;
    transform: scaleY(.9)
}

.buy_area .fn_wrap .fn.fn_goods_name {
    padding-left: .7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.buy_active_price {
    width: 100%;
    padding: .4rem 0.2rem 0 .2rem;
}

.buy_active_price .active-price{
    font-size: .42rem;
    color: #f5174a;
    letter-spacing: 1px;
    margin-right: .33rem;
}
.buy_active_price em{
    font-size: .32rem;
}

.buy_active_price del{
    font-size: .24rem;
    color: #868484;
}