html,body{
    background: #f5f5f5
}
.m-cell{
    margin-top: .2rem
}
.cell-left{
    font-size: .28rem;
    color: rgb(144, 144, 144)
}
.bigIpt{
    height: 1rem;
}
.cell-area{
    -webkit-align-items: normal;
    -ms-flex-align: normal;
    align-items: normal;
    padding-top: .3rem
}
.cell-text{
    padding-top: .3rem;
    line-height: .3rem
}

.saveAndUse{
    padding: .2rem .3rem;
    position: absolute;
    left: 0;
    bottom: 0;
    background:#fff;
    width: 100%;
}
.saveAndUse .saveBtn{
    display: block;
    width: 100%;
    background: #f5174a;
    padding: .25rem 0;
    font-size: .3rem;
    text-align: center;
    color: #fff;
    font-size: .3rem;
    border-radius: 5px
}
.m-switch:checked{
    border-color: #f5174a;
    background-color: #f5174a;
}
.m-cell a.cell-item:active, .m-cell label.cell-item:active{
    background: #fff;
}