.register-main{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.register-main .panda-pic{
    width: 100%;
    height: 5.3rem;
    overflow: hidden;
}
.register-main .panda-pic img{
    width: 4rem;
    height: 2.05rem;
    margin:  1.57rem auto 0;
}
.resgis-list{
    width: 100%;
    /* height: 7.61rem; */
    position: absolute;
    left: 0;
    bottom: 0;
    top: 5.3rem;
    background: url(../images/regis_bg.png) no-repeat left center;
    background-size: 100% 100%;
    overflow: hidden;
}
.resgis-list .list-inner{
    margin-top: 1.74rem;
    text-align: center;
    color: #fff;
}
.list-inner h3{
    font-size: .38rem;
    line-height: .78rem;
    margin-bottom: 1.15rem;
    
}

.list-inner li{
    padding: 0 .8rem;
    margin-bottom: .5rem;
}

.list-inner a{
    display:block;
    width: 100%;
    font-size: .28rem;
    padding: .25rem 0;
    background: rgba(255, 255, 255, .4)
}