img {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.rate-main .rate-head {
    width: 100%;
    height: 2.4rem;
    background: rgb(245, 23, 74);
    position: relative;
    overflow: hidden;
}

.rate-head .rate-time {
    overflow: hidden;
    margin: .88rem 0 0 .8rem
}

.rate-time span {
    display: block;
    color: #fff;
    font-size: .26rem;
    font-weight: bold;
    margin-bottom: 10px
}

.rate-head .time-pic {
    width: 1.2rem;
    height: 1.2rem;
    overflow: hidden;
    position: absolute;
    right: .8rem;
    top: .6rem
}

.rate-step {
    padding: 0 .24rem .1rem .24rem;
    overflow: hidden;
    position: relative;
}

.rate-step::after {
    content: "";
    display: block;
    width: 120%;
    height: 1px;
    background: rgb(228, 228, 228);
    position: absolute;
    left: -0.24rem;
    bottom: 0;
    transform: scaleY(.5)
}

.rate-step h3 {
    position: relative;
    width: 100%;
    line-height: .88rem;
    font-size: .26rem;
    font-weight: normal
}

.rate-step h3::after {
    content: "";
    display: block;
    width: 120%;
    height: 1px;
    background: rgb(228, 228, 228);
    position: absolute;
    left: -0.24rem;
    bottom: 0;
    transform: scaleY(.5)
}

.rate-step .step-by-step {
    padding: .42rem 0 0 .44rem;
}

.rate-step dl {
    width: 100%;
    /* border-left: 1px solid rgb(228, 228, 228); */
    position: relative;
    padding-bottom: .6rem;
}

.rate-step dl:not(:last-child) {
    border-left: 1px solid rgb(228, 228, 228);
}

.rate-step i {
    display: inline-block;
    width: .2rem;
    height: .2rem;
    background: rgb(191, 191, 191);
    border-radius: 50%;
    position: absolute;
    left: -6px;
    top: 0;
}

.rate-step dt {
    font-size: .28rem;
    color: rgb(110, 110, 112);
    padding-left: .3rem;
    padding-bottom: .2rem;
    transform: translateY(-5px)
}

.rate-step dd {
    font-size: .28rem;
    color: rgb(34, 34, 34);
    padding-left: .3rem;
}

.rate-step i.success {
    display: inline-block;
    width: .32rem;
    height: .32rem;
    border-radius: 50%;
    background: url(../images/circle_03.png) no-repeat left center rgb(228, 228, 228);
    background-size: 100% 100%;
    position: absolute;
    left: -0.16rem;
    top: -1px;
}

.rate-address {
    padding: 0 .24rem;
    overflow: hidden;
}

.rate-address h3 {
    position: relative;
    width: 100%;
    line-height: .88rem;
    font-size: .26rem;
    font-weight: normal
}

.rate-address .address {
    width: 100%;
    line-height: 25px;
    font-size: 16px;
    color: rgb(245, 23, 74);
}