[v-cloak] {
  display: none;
}

.g-scrollview {
  height: auto;
  /* overflow: auto; */
}

.g-flexview {
  width: 100%;
  height: auto;
}

.g-flexview.hei100 {
  height: 100%;
  overflow: hidden;
}

.center_list {
  padding: 0 0.3rem
}

.center_list li {
  width: 100%;
  /* background: red; */
  padding: .2rem 0;
  border-bottom: 1px solid rgb(248, 248, 248)
}

.center_list .center_list_pic {
  display: flex;
  margin: 0 0.3rem
}

.center_list_pic .has_pic {
  width: 2rem;
  height: 2rem;
  margin-right: .3rem
}

.has_pic img {
  width: 100%;
  display: block;
  margin: auto
}

.center_list_pic .center_text {
  flex: 1;
}

.center_text .text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.center_text .text span {
  display: block;
  line-height: 0.4rem;
  font-size: .27rem;
  color: rgb(34, 34, 34)
}

.center_text .center_link {
  margin-top: 0.42rem;
  overflow: hidden;
}

.center_link span {
  display: block;
  float: right;
  width: 1.6rem;
  height: .68rem;
  font-size: .28rem;
  background: rgb(72, 147, 252);
  color: rgb(255, 255, 255);
  line-height: .68rem;
  text-align: center
}

/* center.html */
.center_box_list {
  padding: .2rem 0 .2rem .2rem;
  display: flex;
}

.center_box_list .center_scroll {
  flex: 1;
  font-size: 0;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  overflow-x: auto;
}

.center_scroll span {
  display: inline-block;
  width: 1.45rem;
  height: 1.45rem;
  border-radius: 5px;
  margin-right: .12rem;
  position: relative;
}

.center_scroll i {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 1.45rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: .26rem;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, .4);
  border-radius: 5px
}

.center_scroll span.order_class i {
  width: 1.16rem;
  height: .5rem;
  line-height: .5rem;
  position: absolute;
  top: .47rem;
  left: .13rem;
  background: rgba(255, 255, 255, .6);
  color: rgb(34, 34, 34)
}

.center_scroll img {
  width: 100%;
  display: block;
  margin: auto
}

.center_box_list .center_allow {
  width: .83rem;
}

.center_allow span {
  display: block;
  width: .24rem;
  height: .18rem;
  background: url(../images/material_btm.png) no-repeat top center;
  background-size: 100% 100%;
  margin: .6rem auto .27rem
}

.gray_wrapper {
  width: 100%;
  height: .2rem;
  background: rgb(248, 248, 248)
}

.data_show {
  overflow: hidden;
  padding: 0 0.3rem
}

.data_show h3 {
  width: 100%;
  padding: .35rem 0 .23rem 0;
  font-size: .28rem;
  color: rgb(34, 34, 34)
}

.data_show p {
  line-height: .38rem;
  font-size: .26rem;
  color: rgb(66, 65, 68);
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.data_show p.showClass {
  overflow: auto;
  -webkit-line-clamp: 30
}

.data_show span {
  display: inline-block;
  /* width: 100px;
    height: 20px; */
  line-height: 20px;
  text-align: center;
  color: rgb(72, 147, 252)
}

.data_show .btn_share {
  width: 100%;
  height: .56rem;
  overflow: hidden;
  margin-top: .3rem;
  position: relative;
}

.btn_share span:first-child {
  display: block;
  width: 1.6rem;
  /* height: .56rem; */
  float: left;
  line-height: normal;
  padding: 0.08rem 0;
  text-align: center;
  background: rgb(72, 147, 252);
  color: rgb(255, 255, 255);
  font-size: .28rem;
  border-radius: 5px;
}

.btn_share span:last-child {
  display: block;
  width: 2.18rem;
  /* height: .56rem; */
  float: right;
  line-height: normal;
  padding: 0.08rem 0;
  text-align: center;
  background: rgb(50, 177, 108);
  color: rgb(255, 255, 255);
  font-size: .28rem;
  border-radius: 5px;
}

.btn_share span.dowload_save {
  width: 1.56rem;
  height: .56rem;
  background: rgb(254, 154, 40)
}

.data_show ul {
  overflow: hidden;
}

.data_show li {
  width: 2.1rem;
  height: 2.1rem;
  float: left;
  margin-left: .2rem;
  margin-top: .3rem;
  overflow: hidden;
}

.data_show li:first-child {
  margin-left: 0
}

.data_show li:nth-child(4) {
  margin-left: 0
}

.data_show li:nth-child(7) {
  margin-left: 0
}

.data_show img {
  width: 100%;
  display: block;
  margin: auto
}

.data_show .dowload_pic li {
  width: 4.28rem;
  height: 6.1rem;
}

.arrow_up {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: .7rem;
  background: rgba(0, 0, 0, .3);
  display: block;
  z-index: 2;
  overflow: hidden;
}

.arrow_up .arrow_main {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  padding-bottom: .4rem;
  height: 400px;
  background: #fff;
}

.arrow_main h3 {
  font-size: 0.3rem;
  color: rgb(34, 34, 34);
  padding: .34rem 0.8rem 0 .8rem;
  position: relative;
}

.arrow_main h3::after {
  content: "";
  width: .24rem;
  height: .18rem;
  position: absolute;
  right: .8rem;
  top: 60%;
  background: url(../images/material_top.png) no-repeat top center;
  background-size: 100% 100%;
}

.main_list ul {
  overflow: hidden;
}

.main_list li {
  width: 1.45rem;
  height: 1.45rem;
  margin-top: .4rem;
  margin-left: .78rem;
  float: left;
  position: relative;
}

.main_list img {
  width: 100%;
  display: block;
  margin: auto
}

.main_list i {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 1.45rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: .26rem;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, .4);
  border-radius: 5px
}

.main_list li.order_class i {
  width: 1.16rem;
  height: .5rem;
  line-height: .5rem;
  position: absolute;
  top: .47rem;
  left: .13rem;
  background: rgba(255, 255, 255, .6);
  color: rgb(34, 34, 34)
}

/* howToUser.html */
.get_user_head {
  width: 100%;
}

.get_user_head h3 {
  font-size: .3rem;
  font-weight: bold;
  padding: .3rem 0 .21rem .3rem;
  color: rgb(34, 34, 34)
}

.get_user_head h2 {
  font-size: .24rem;
  padding: 0 0 0 .3rem;
  color: rgb(153, 153, 153)
}

.get_user_head em {
  margin-right: .2rem;
  color: rgb(72, 147, 252)
}

.user_help_start {
  margin: 0.6rem .3rem 0;
  background: #b7e5fc
}

.user_help_start .intro_pic_1 {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.user_help_start img {
  width: 100%;
  display: block;
  margin: auto;
  /* vertical-align: top */
}

.intro_pic_1 p {
  line-height: .42rem;
  padding-top: .6rem;
  padding-left: .3rem;
  padding-right: 0.3rem;
  font-size: .24rem;
  color: rgb(34, 34, 34);
}

.intro_pic_2 h3 {
  text-align: center;
  padding: .6rem 0;
  font-size: .3rem;
  color: rgb(34, 34, 34)
}

.intro_pic_2 .iosBox {
  width: 100%;
  display: block;
  padding: 0 0.3rem;
  height: .8rem;
  line-height: .8rem;
  color: #fff;
  font-size: .3rem;
  background: rgb(253, 147, 47)
}

.intro_pic_2 .andriodBox {
  display: block;
  width: 100%;
  padding: 0 .3rem;
  font-size: .26rem;
  padding-top: .28rem;
  padding-bottom: .44rem;
  color: rgb(153, 153, 153);
  line-height: .26rem
}

.intro_pic_2 li {
  padding: 0 .3rem .3rem
}

.intro_pic_2 .btn_click {
  width: 100%;
  padding-bottom: .2rem
}

.btn_click .num {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 16px;
  line-height: 10px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #000;
  color: rgb(34, 34, 34);
  padding: 5px;
}

.btn_click .texts {
  display: inline-block;
  font-size: .3rem;
  color: rgb(34, 34, 34)
}

.intro_pic_2 p {
  line-height: .42rem;
  font-size: .26rem;
  color: rgb(66, 65, 68);
  padding-bottom: .3rem
}

.intro_pic_2 .andriod_ul {
  padding-top: .2rem
}

.intro_pic_2 ul.andriod_ul>li {
  padding-bottom: 0;
}

.null-datas {
  width: 100%;
  text-align: center;
  line-height: 0.5rem;
  font-size: 0.3rem
}

body iframe {
  display: none;
}

.g-scrollview {
  top: .9rem
}

.m-navbar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 21;
  width: 100%;
}

.navbar-item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 0%;
  -ms-flex: 0 0 0%;
  flex: 0 0 0%;
  min-width: 12%;
}

.navbar-item img {
  width: .35rem;
  height: .35rem;
}

.navbar-center {
  width: 80%;
  position: relative;
}

.navbar-center .navbar-title {
  font-size: .36rem
}

.icon-search:before {
  font-size: 18px;
}

.navbar-center.search::after {
  font-family: 'YDUI-ICONS';
  content: '\e626';
  font-size: .4rem;
  color: #ddd;
  font-weight: bold;
  position: absolute;
  left: 0.15rem;
  top: .25rem;
  display: inline-block;
  width: 18px;
  height: 18px;
  /* background: url(../images/material_search1.png) no-repeat left center;
    background-size: 100% 100%; */
}

.navbar-center input {
  box-sizing: border-box;
  padding-left: .62rem;
  width: 100%;
  outline: none;
  border: 1px solid #eee;
  height: .68rem;
  font-size: .3rem;
  border-radius: 30px;
  background: #f8f8f8;
}

body.full-body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  z-index: 121231;
  box-sizing: border-box;
}

body.full-body .g-scrollview {
  height: 100%;
  top: 0;
}

body.full-body .g-flexview {
  width: 100%;
  height: 100%;
}

body.full-body .m-navbar {
  position: static;
  overflow: hidden;
}

/* .m-navbar {
  height: 1.4rem;
}

.navbar-item {
  height: 1.4rem;
}

.navbar-center {
  height: 1.4rem;
}

.navbar-center.search::after {
  top: .45rem
}

.g-scrollview {
  top: 1.4rem
} */