.forget-box{
  width: 854px;
  height: 496px;
  background-color: #ffffff;
  margin:244px auto 220px;

}
.forget-img{
  width:162px;
  height:56px;
  margin:0 auto 40px;
  padding-top:43px;
}
.reset-txt{
  font-size: 30px;
  text-align: center;
  letter-spacing: 2px;
  color: #444444;
}
.forget-wrap{
  margin:0 auto;
  width:370px;

}