.goods_main {
    width: 100%;
    background: rgb(248, 248, 248);
    overflow: hidden;
}

img {
    width: 100%;
    display: block;
    margin: auto;
}

input {
    opacity: 0;
    user-select: none;
}

.goods_main .goods_inner {
    width: 1180px;
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
}

.goods_inner .choose_list {
    width: 1180px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    box-sizing: border-box;
}

.choose_list li {
    position: relative;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    border: 1px dashed #f5174a;
    color: #f5174a;
    background: none;
    padding: 0 25px 0 6px;
    text-indent: 0;
    font-size: 12px;
    margin-right: 44px;
}

.choose_list li:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 9px;
    height: 20px;
    background: url(../images/goods_arr_right_03.png) no-repeat left center;
    position: absolute;
    right: -27px;
    top: 0;
}

.choose_list a {
    position: absolute;
    top: 3px;
    right: 5px;
    display: inline-block;
    width: 12px;
    height: 12px;
    color: #f5174a;
    line-height: 12px;
    font-size: 16px;
    text-align: center;
    transform: scaleY(.7)
}

.goods_inner .types_list {
    width: 100%;
    border: 1px solid #d6d6d6;
    overflow: hidden;
    box-sizing: border-box;
    background: #fff;
}

.types_list li {
    position: relative;
    line-height: 50px;
    margin: 0 20px;
    font-size: 12px;
    box-sizing: border-box;
}

.types_list .type {
    padding-left: 10px;
    padding-right: 30px;
}


.types_list a {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    margin-right: 20px;
}

.types_list a.active {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 25px 0 10px;
    background: #f5174a;
    position: relative;
    color: #fff;
}

.types_list em {
    font-style: normal;
    position: absolute;
    top: 8px;
    right: 8px;
    display: inline-block;
    width: 12px;
    height: 12px;
    color: #fff;
    line-height: 12px;
    font-size: 16px;
    text-align: center;
    transform: scaleY(.7)
}

.types_list li:not(:last-child) {
    border-bottom: 1px solid #d6d6d6;
}

.types_list .more {
    position: absolute;
    right: 20px;
    color: #666;
}

.types_list .more::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 9px;
    background: url(../images/arr_down.png) no-repeat left center;
    position: absolute;
    right: -20px;
    top: 50%;
    margin-top: -6px;
}

.goods_inner .sort {
    width: 100%;
    height: 48px;
    line-height: 48px;
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
    margin: 20px 0 0 0;
    background: #fff;
    font-size: 12px;
}

.sort .sort_inner {
    padding: 0 20px;
    font-size: 0;
}

.sort_inner span.type {
    padding-left: 10px;
    padding-right: 30px;
    font-size: 12px;
}

.sort_inner a {
    display: inline-block;
    width: 70px;
    height: 28px;
    border: 1px solid #d6d6d6;
    line-height: 28px;
    font-size: 14px;
    color: #333;
    margin-right: 14px;
    position: relative;
    text-indent: 13px
}

.sort_inner a.color_red {
    border: none;
    background: #f5174a;
    color: #fff;
    text-align: center;
    text-indent: 0;
}

.sort_inner em {
    display: inline-block;
    width: 11px;
    height: 6px;
    background: url(../images/goods_arr_up.png) no-repeat left center;
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -3px;
}

.sort_inner em.xl {
    background: url(../images/goods_arr_down.png) no-repeat left center;
}

.checkboxFive {
    width: 16px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    line-height: 48px;
    margin-top: 15px;
    margin-left: 50px;
}


.checkboxFive.ma20 {
    margin-left: 20px;
}

.checkboxFive label {
    cursor: pointer;
    position: absolute;
    width: 16px;
    height: 16px;
    /* border-radius: 5px; */
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid #9e9e9e;
}

.checkboxFive label:after {
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 6px;
    height: 3px;
    background: transparent;
    top: 4px;
    left: 3px;
    border: 3px solid #9e9e9e;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checkboxFive label:hover::after {
    opacity: 0.3;
}

/**
 * Create the checkbox state for the tick
 */
.checkboxFive input[type=checkbox]:checked+label {
    border-color: #f5174a;
}

.checkboxFive input[type=checkbox]:checked+label:after {
    opacity: 1;
    border-color: #f5174a
}

.sort_inner .checkbox_1 {
    font-size: 12px;
    padding-left: 10px;
    user-select: none;
}


.goods_inner .list_show {
    width: 100%;
    overflow: hidden;
    margin-bottom: 60px;
}

.list_show ul {
    overflow: hidden;
    margin-left: -13px;
    margin-bottom: 60px;
}

.goods_inner .list_show li {
    width: 283px;
    height: 428px;
    border: 1px solid #d6d6d6;
    overflow: hidden;
    float: left;
    margin: 13px 0 0 13px;
}

.list_show .list_show_inner {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.list_show_inner .has_pic {
    width: 283px;
    height: 283px;
    margin-bottom: 10px;
    position: relative;
}

.list_show_inner .area {
    width: 80px;
    height: 20px;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    background: #f5174a;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.list_show_inner .country {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 17px;
    top: 20px;
    z-index: 1;
}

.list_show_inner .has_text {
    padding: 0 17px;
    height: 132px;
    border-top: 1px dashed #d6d6d6;
}

.list_show_inner .hot_area{
    width: 100%;
    font-size: 12px;
    color: #666;
    margin-top: 12px;
    line-height: 28px;
}

.list_show_inner .hot_fl{
    float: left;
}

.list_show_inner .hot_fr{
    float: right;
    color: #27aa42;
}

.list_show_inner .title{
    clear: both;
    line-height: 21px;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    text-align: left;
    box-sizing: border-box;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.list_show_inner .price{
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    color: #f5174a;
}

.list_show_inner .price em{
    font-size: 14px;
    font-style: normal;
}

.list_show_inner .page {
    width: 100%;
    height: 45px;
    line-height: 45px;
  }
  
  .page .page_inner {
    overflow: hidden;
    margin: 0 auto;
  }
  
  .page_inner span,
  .page_inner dl {
    /* float: left; */
    font-size: 13px;
    color: #666;
    margin: 0 auto;
    text-align: center;
  }
  
  /* .page_inner dl{
      margin-left: 25px;
      width: 320px;
      overflow: hidden;
  } */
  .page_inner dl dd {
    width: 40px;
    height: 40px;
    /* float: left; */
    display: inline-block;
    *display: block;
    *float: left;
    line-height: 40px;
    text-align: center;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    background: #fff;
    margin-right: 10px;
  }
  
  .page_inner dl span {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .page_inner a {
    color: #333;
  }
  .page_inner dd.color_ {
    background: #f5174a;
    color: #fff;
    border: none;
  }
  .page_inner dd.color_ a {
    color: #fff;
  }
  
  .page_inner .disabled {
    color: #333;
    background-color: #d6d6d6;
    border-color: #d6d6d6;
    cursor: not-allowed;
    pointer-events: none;
  }