img {
    width: 100%;
    display: block;
    vertical-align: middle;
}

.order-main {
    width: 100%;
    background: rgb(248, 248, 248);
    overflow: hidden;
}

.order-main .inner {
    margin: 20px auto 60px;
    width: 1178px;
    background: #fff;
}

.order-main .address_show {
    padding: 30px 20px 0 20px;
}

.address_show h3 {
    font-size: 18px;
    color: #1c211b;
    padding-bottom: 22px;
}

.address_show ul {
    margin-left: -10px;
    overflow: hidden;
}

.address_show li {
    width: 272px;
    height: auto;
    border-radius: 3px;
    border: 1px solid #d6d6d6;
    float: left;
    margin-left: 10px;
    position: relative;
}


.address_show li .list_inner.on{
    background: url(../images/add_select_in.png) no-repeat left center;
    border: none;
}

.address_show .list_inner {
    padding: 0 10px;
    height: 158px;
    box-sizing: border-box;
    font-size: 12px;
    color: #222;
    position: relative;
    transition: all 1s;
}

.address_show .first {
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 12px;
    color: #222222;
    border-bottom: 1px solid #d6d6d6;
    position: relative;
}

.address_show .edit,
.address_show .del {
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url(../images/del.png) no-repeat left center;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8px;
}

.address_show .edit{
    background: url(../images/edit.png) no-repeat left center;
    right: 20px;
}
.address_show .phone {
    margin-top: 12px;
}

.address_show p:not(.first) {
    margin-bottom: 7px;
    line-height: 1.5
}

.address_show span.default {
    display: block;
    width: 58px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    bottom: 0;
}


.address_show .fix_address {
    width: 100%;
    height: 326px;
    overflow: hidden;
    z-index: 21;
    background: #fff;
    transition: all 1s;
}

.address_show .add_address .add_inner {
    height: 160px;
    background: url(../images/add_address_03.png) no-repeat left center;
    overflow: hidden;
}

.fix_address .inner_fix {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 15px;
}

.fix_address .ipt {
    width: 100%;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    border: 1px solid #e6e6e6;
    margin-bottom: 10px
}

.fix_address input {
    width: 100%;
    outline: none;
    border: none;
    height: 30px;
    box-sizing: border-box;
    padding: 0 12px;
    vertical-align: bottom;
}

.city-picker-selector .selector-item {
    width: 108px !important;
}

/* .selector-item storey district */
.city-picker-selector .selector-item.district {
    width: 242px !important;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fix_address .add_btn {
    width: 100%;
    height: 34px;
    overflow: hidden;
    font-size: 12px;
    margin-bottom: 10px;
}

.fix_address .add_btn span {
    display: block;
    width: 108px;
    line-height: 32px;
    text-align: center;
    float: left;
    border: 1px solid #e6e6e6;
    background: #fafafa;
    color: #333;
    border-radius: 3px;
}

.fix_address .add_btn .sure {
    background: #f5174a;
    color: #fff;
    border: 1px solid #f5174a;
    margin-left: 20px
}

.fix_address .saveDefault {
    width: 100%;
    font-size: 12px;
    border: 1px solid #e6e6e6;
    background: #fafafa;
    height: 32px;
    line-height: 32px;
    text-align: center;
}


.sureorder-list {
    margin-top: 30px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    overflow: hidden;
}

.sureorder-list h3 {
    font-size: 18px;
    color: #1c211b;
    padding-bottom: 22px;
    text-align: left;
}

.sureorder-list li.top {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #222;
    background: #f5f5f5;
}

.sureorder-list .sureorder-left {
    width: 490px;
    float: left;
}

.sureorder-list .sureorder-left .title {
    width: 100%;
}

.sureorder-list .sureorder-right {
    width: 648px;
    float: left;
}

.sureorder-list .line {
    border-right: 1px solid #d6d6d6;
}

.sureorder-right .sure_list_order_1 {
    width: 121px;
}

.sureorder-right .sure_list_order_2 {
    width: 180px;
}

.sureorder-right .sure_list_order_3 {
    width: 140px;
}

.sureorder-right .sure_list_order_4 {
    width: 200px;
}

.sureorder-list li div {
    float: left;
    text-align: center;
}

.sureorder-list .sureorder_list_detail {
    padding: 22px 0;
    border-bottom: 1px solid #d6d6d6;
    width: 100%;
    overflow: hidden;
}

.sureorder-list .sureorder_list_detail:hover {
    background: #f8f8f8;
}

.sureorder_list_detail .title {
    padding-left: 50px;
    box-sizing: border-box;
    width: 100%;
}

.sureorder_list_detail .pic_tit {
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin-right: 20px;
}

.sureorder_list_detail .sureorder_msg {
    width: 268px;
}

.sureorder_list_detail p {
    font-size: 12px;
    color: #999;
    text-align: left;
}

.sureorder_list_detail .title_text {
    margin: 10px 0;
    color: #424242;
    overflow: hidden;
    overflow: hidden;
    text-align: left;
    line-height: 1.3;
    box-sizing: border-box;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.sureorder_list_detail .sureorder-right {
    line-height: 80px;
}

.sureorder_list_detail .price {
    color: #f5174a;
}

.sureorder-list .show-more {
    width: 100%;
    text-align: center;
    line-height: 72px;
    font-size: 14px;
    color: #424242;
    position: relative;
    border-bottom: 1px solid #d6d6d6;
}

.sureorder-list .show-more span {
    display: inline-block;
    margin-left: 10px;
    width: 23px;
    height: 15px;
    background: url(../images/car_arr_down_03.png) no-repeat left center;
    top: 50%;
    position: absolute;
    margin-top: -12px;
    margin: -8px 0 0 10px;
}

.sureorder-list .message_list {
    width: 100%;
    height: 125px;
    border-bottom: 1px solid #d6d6d6;
    text-align: right;
}

.message_list p {
    font-size: 12px;
    color: #424242;
    line-height: 30px;
}

.message_list p.mar100 {
    margin-top: 30px;
}

.order-main .sure_submit {
    width: 1178px;
    height: 60px;
    line-height: 60px;
    border: 1px solid #d6d6d6;
    background: #fff;
    margin-top: 20px;
    overflow: hidden;
    margin-bottom: 60px;
}

.sure_submit .account-inner {
    width: 335px;
    float: right;
    overflow: hidden;
}

.sure_submit span {
    float: left;
    overflow: hidden;
}

.sure_submit .price {
    width: 155px;
    font-size: 14px;
}

.sure_submit em{
    font-size: 24px;
    color: #f5174a;
}

.sure_submit .account-btn {
    width: 180px;
    line-height: 60px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background: #f5174a;
}