.edit-pwd{
  width:600px;
  margin:50px auto 0;
}
.step_img{
  margin:0 auto;
}
.step-box{
  height:54px;
  position: relative;
  font-size: 12px;
  letter-spacing: 1px;
  color: #222222;
}
.step1-txt{
  position: absolute;
  left:30px;
  top:43px;
}
.step2-txt{
  position: absolute;
  left:258px;
  top:43px;
}
.step3-txt{
  position: absolute;
  right:30px;
  top:43px;
}
.yz-phone{
  font-size: 12px;
  .phone-num{
    padding:40px  0 30px 115px;
    letter-spacing: 1px;
    color: #222222;
  }

}

.pwd-yzm{
  margin-left:127px;
  label{
    font-size: 12px;
    letter-spacing: 1px;
    color: #222222;
    margin-top:8px;
  }
  .get-yzm{
    text-align: center;
    line-height: 32px;
    margin-left:10px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #f5174a;
    width: 100px;
    height: 32px;
    background-color: #fdeef2;
    border-radius: 3px;
    border: solid 1px #fa7d9a;

    &.codeActive{
      background-color: #dcdcdc;
      color: #999999;
      border-color:#dcdcdc;
      span{
        color:#f5174a;
      }

    }
  }
}
.pwd-box {
  width: 130px;
  height: 32px;
  background-color: #f8f8f8;
  border-radius: 3px;
  border: solid 1px #e4e4e4;
  .pwd-inp {
    background: rgba(0,0,0,.0);
    margin-left:13px;
    outline-style: none;
    border:none;
    width: 106px;
    height:100%;
    font-size: 12px;
    line-height: 32px;
    color: #333;
    letter-spacing: 1px;

    &::-webkit-input-placeholder {
      font-size: 12px;
      color: #999999;
    }

    &::-moz-placeholder{/* Firefox 19+ */
      font-size: 12px;
      color: #999999;
    }
    &:-ms-input-placeholder {
      font-size: 12px;
      color: #999999;
    }
  }

}
.set_pwd{
  margin:40px 0 0 0;
}
.set_pwd_inp{
  margin-bottom:12px;
  width: 320px;
  background-color: #fff;
  .pwd-inp{
    width: 300px;
  }
}
.next-btn{
  cursor: pointer;
  width: 122px;
  height: 32px;
  background-color: #f5174a;
  border-radius: 3px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #ffffff;
  text-align: center;
  line-height: 32px;
  margin:25px 0 0 180px;
}

.set_success{
  text-align: center;
  margin-top:30px;
  .success-pwd{

    font-size: 16px;
    letter-spacing: 1px;
    color: #f5174a;
  }
}
