/* 去除input[number] 左侧样式 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}


div.radioBtn {
    position: relative;
    /* line-height: 30px; */
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    opacity: 0;
}

label.radio_label {
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -11px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #999;
}

/*设置选中的input的样式*/

/* + 是兄弟选择器,获取选中后的label元素*/

.radioBtn input:checked+label {
    background-color: #f5174a;
    border: 1px solid #f5174a;
}

.radioBtn input:checked+label::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 10px;
    top: 3px;
    left: 6px;
    border: 2px solid #fff;
    border-top: none;
    border-left: none;
    transform: rotate(45deg)
}


.shopcar-main {
    width: 100%;
    background: rgb(248, 248, 248);
    overflow: hidden;
}

.shopcar-main .car-inner {
    width: 1180px;
    margin: 0 auto;
}

.car-inner .car-nav {
    width: 1178px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #d6d6d6;
    background: #fff;
    margin: 22px 0;
}

.car-inner .car-nav li {
    width: 150px;
    line-height: 50px;
    text-align: center;
    float: left;
    border-right: 1px solid #d6d6d6;
}

.car-inner .car-box {
    width: 100%;
    background: #fff;
    overflow: hidden;
}

.car-inner table {
    width: 100%;
    border: 1px solid #d6d6d6;
}

.car-box th {
    height: 66px;
    line-height: 66px;
    border-bottom: 1px solid #d6d6d6;
}

.car-box tbody tr:not(:last-child) td {
    border-bottom: 1px solid #d6d6d6;
}

.car-box td {
    padding: 15px 0;
}

.car-box td img {
    width: 84px;
    height: 84px;
    overflow: hidden;
}

.car-box .has-tex p {
    text-align: left;
    font-size: 12px;
    color: #999;
    margin: 0 10px;
}

.car-box .has-tex p.title {
    margin: 10px;
    line-height: 17px;
    font-size: 12px;
    color: #424242;
    overflow: hidden;
    text-align: left;
    box-sizing: border-box;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.car-box .car_add {
    width: 100px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #b3b3b3;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 30px;
    text-align: center
}

.car-box .car_add .minus,
.car-box .car_add .add {
    float: left;
    width: 29px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: #f2f2f2;
    color: #7e7d7b;
    font-size: 14px;
}

.car-box .car_add .nums {
    width: 42px;
    height: 28px;
    float: left;
    border: none;
    outline: none;
    text-align: center;
}

.car-box a {
    display: block;
    width: 100%;
    line-height: 2;
    font-size: 12px;
    color: #333;
}


/* .car-box .car-table{
    width: 100%;
    overflow: hidden;
} */

.car-box .car-table .left {
    width: 500px;
    float: left;
}

.car-table div {
    float: left;
    text-align: center;
}

.car-table {
    width: 1178px;
    overflow: hidden;
    border: 1px solid #d6d6d6;
}

.car-table .top {
    height: 70px;
    line-height: 70px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #d6d6d6;
}

.car-table .top .radioBtn {
    width: 126px;
    font-size: 14px;
    font-weight: bold
}

.car-table .left .goods-pic {
    width: 374px;
}

.car-box .top .radioBtn span {
    padding-left: 20px;
}

.car-box .car-table .right {
    width: 678px;
    float: left;
}

.car-box .car-table .list_1 {
    width: 100px;
}

.car-box .car-table .list_2 {
    width: 120px;
}

.car-box .car-table .list_3 {
    width: 150px;
}

.car-box .car-table .list_4 {
    width: 130px;
}

.car-box .car-table .list_5 {
    width: 170px;
}

.car-box li.list {
    padding: 15px 0;
    clear: both;
    overflow: hidden;
    border-bottom: 1px solid #d6d6d6;
}

.car-box li.list .left .radioBtn {
    width: 44px;
    line-height: 84px;
}

.car-table .imgShow {
    width: 84px;
    height: 84px;
    overflow: hidden;
    margin-right: 20px
}

.car-table .text {
    width: 268px;
}

.car-table p {
    font-size: 12px;
    color: #999;
    text-align: left
}

.car-table p.title {
    margin: 10px 0;
    color: #424242;
    overflow: hidden;
    overflow: hidden;
    text-align: left;
    box-sizing: border-box;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.car-table .list .right div {
    line-height: 84px;
}

.car-table .red-price {
    color: #f5174a;
}

.car-table .list .list_5 {
    margin-top: 20px;
}


.car-inner .send_address {
    width: 100%;
    border-top: 1px dashed #d6d6d6;
    overflow: hidden;
}

.car-inner .address_inner {
    padding: 15px 0 0 0;
    overflow: hidden;
    width: 1178px;
    box-sizing: border-box;
}

.car-inner .address_inner p {
    padding-left: 40px;
}

.car-inner .address_inner p:not(:last-child) {
    margin-bottom: 15px;
}

.car-inner .address_inner input {
    width: 1020px;
    outline: none;
    border: none;
}

.car-inner .address_inner em {
    font-style: normal;
    position: relative;
}

.car-inner .address_inner em::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 16px;
    background: url(../images/arr_right_03.png) no-repeat left center;
    position: absolute;
    right: -15px;
    top: 0px;
}


.car-inner .show-more {
    width: 100%;
    text-align: center;
    line-height: 72px;
    font-size: 14px;
    color: #424242;
    position: relative;
}

.car-inner .show-more span {
    display: inline-block;
    margin-left: 10px;
    width: 23px;
    height: 15px;
    background: url(../images/car_arr_down_03.png) no-repeat left center;
    top: 50%;
    position: absolute;
    margin-top: -12px;
    margin: -8px 0 0 10px;
}

.car-lost {
    width: 1178px;
    border: 1px solid #d6d6d6;
    border-top: none;
    overflow: hidden;
}

.car-lost div {
    float: left;
    text-align: center;
}

.car-lost .titie {
    padding: 0 20px;
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #d6d6d6;
}

.car-lost .left {
    line-height: 60px;
    color: #303030;
    font-size: 20px;
    float: left;
}

.car-lost .right {
    float: right;
    display: block;
    width: 86px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #f5174a;
    text-align: center;
    margin: 16px auto;
    border: 1px solid #f5174a;
    border-radius: 15px;
}

.car-lost li:not(:last-child) {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #d6d6d6;
}

.car-lost .top {
    clear: both;
    width: 100%;
    height: 70px;
    line-height: 70px;
    font-size: 14px;
    color: #bfbebe;
    overflow: hidden;
}

.car-lost .lost-left {
    width: 480px;
    float: left;
}

.car-lost .lost-right {
    width: 658px;
    float: left;
    font-size: 12px;
    color: #bfbebe;
}


.car-lost .lost-left .msg {
    width: 100%;
}

.car-lost .lost-right .lost_list_1 {
    width: 100px;
    overflow: hidden;
}

.car-lost .lost-right .lost_list_2 {
    width: 120px;
}

.car-lost .lost_list_3 {
    width: 150px;
}

.car-lost .lost_list_4 {
    width: 280px;
}

.car-lost .lost_list {
    width: 100%;
    overflow: hidden;
}

.car-lost .lost_list {
    padding: 15px 20px;
}

.car-lost .lostImg {
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin: 0 16px 0 22px;
}

.car-lost .lostTtex {
    width: 268px;
    font-size: 12px;
    margin: 10px 0;
    color: #bfbebe;
    overflow: hidden;
    text-align: left;
    box-sizing: border-box;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.car-lost .lost_list .lost-right {
    line-height: 80px;
}


.car-inner .car-account {
    width: 1178px;
    height: 60px;
    line-height: 60px;
    border: 1px solid #d6d6d6;
    background: #fff;
    margin-top: 20px;
    overflow: hidden;
}

.car-account .account-inner {
    width: 335px;
    float: right;
    overflow: hidden;
}

.car-account span {
    float: left;
    overflow: hidden;
}

.car-account .price {
    width: 155px;
    font-size: 14px;
}

.car-account em {
    font-style: normal;
    font-size: 22px;
    color: #f5174a;
}

.car-account .account-btn {
    width: 180px;
    line-height: 60px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background: #f5174a;
}