* {
  padding: 0;
  margin: 0;
}
.clearfix:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.clearfix {
  zoom: 1;
}
body {
  font-family: 'Microsoft yahei';
}
img {
  display: block;
}
ul,
li,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.wrap {
  width: 1180px;
  margin: 0 auto;
}
.head {
  height: 28px;
  background-color: #f8f8f8;
}
.head-left {
  float: left;
}
.head-left .city-txt {
  line-height: 28px ;
  float: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13px;
  color: #424144;
}
.head-left .sel-icon {
  float: left;
  width: 9px;
  height: 6px;
  display: block;
  background-image: url("../images/sel_icon.png");
  -webkit-background-size: cover;
  background-size: cover;
  margin: 10px 0 0 12px;
}
.head-right {
  float: right;
}
.head-list {
  margin-top: 3px;
}
.head-list li {
  display: inline-block;
}
.head-list li:last-child a {
  border-right: none;
}
.head-list li a {
  line-height: 12px;
  display: block;
  padding: 0 12px;
  border-right: 1px solid #666;
  font-size: 13px;
  color: #424144;
}
.head-search {
  margin-top: 33px;
}
.head-search .head-logo {
  float: left;
}
.search-box {
  float: right;
}
.search-box .search-list {
  margin-top: 4px;
}
.search-box .search-list li {
  display: inline-block;
}
.search-box .search-list li a {
  line-height: 12px;
  display: block;
  padding: 0 12px;
  border-right: 1px solid #ccc;
  font-size: 14px;
  color: #424144;
}
.search-box .search-list li:last-child a {
  border-right: none;
}
.search-inp .inp-block {
  float: left;
  width: 526px;
  height: 36px;
  border: solid 3px #f5174a;
  border-right: none;
}
.search-inp .inp-block .inp {
  margin: 5px 0 0 10px;
  outline-style: none;
  border: none;
  width: 480px;
  height: 26px;
  font-size: 13px;
  color: #666;
}
.search-inp .inp-block .inp::-webkit-input-placeholder {
  font-size: 13px;
  color: #adaaaa;
}
.search-inp .inp-block .inp::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 13px;
  color: #adaaaa;
}
.search-inp .inp-block .inp:-ms-input-placeholder {
  font-size: 13px;
  color: #adaaaa;
}
.search-inp .search-btn {
  float: left;
  font-weight: bold;
  border: none;
  font-size: 18px;
  letter-spacing: 1px;
  color: #ffffff;
  width: 130px;
  height: 42px;
  line-height: 42px;
  background-color: #f5174a;
  outline-style: none;
}
.scar {
  margin-left: 20px;
  float: right;
  width: 120px;
  height: 42px;
  background-color: #f5174a;
  position: relative;
}
.scar p {
  text-align: center;
  font-size: 14px;
  line-height: 42px;
  color: #ffffff;
}
.scar .scar-icon {
  position: absolute;
  width: 18px;
  height: 16px;
  display: block;
  top: 12px;
  left: 13px;
  background-image: url("../images/car.png");
  -webkit-background-size: cover;
  background-size: cover;
}
.scar .scar-msg {
  position: absolute;
  width: 24px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 8px;
  color: #f5174a;
  top: 13px;
  right: 12px;
  font-style: inherit;
  text-align: center;
  line-height: 16px;
}
.head-nav {
  margin-top: 42px;
  height: 36px;
}
.nav-box {
  float: left;
}
.nav-icon {
  margin-right: 25px;
  position: relative;
  width: 200px;
  height: 100%;
  background-color: #f5174a;
  padding-left: 45px;
  line-height: 36px;
  color: #fff;
  font-weight: bold;
}
.nav-icon .folding {
  position: absolute;
  width: 19px;
  height: 14px;
  display: block;
  top: 11px;
  left: 16px;
  background-image: url("../images/bread.png");
  -webkit-background-size: cover;
  background-size: cover;
}
.nav-list {
  line-height: 36px;
  height: 100%;
  float: left;
}
.nav-list li {
  padding: 0 25px;
  display: inline-block;
}
.nav-list li:hover {
  background-color: #f5174a;
}
.nav-list li:hover a {
  color: #fff;
}
.nav-list li a {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  color: #222222;
}
.two-nav {
  z-index: 10;
  position: absolute;
  width: 245px;
  background-color: #f5174a;
}
.two-nav h3 {
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  padding: 13px 0 13px 45px;
}
.two-nav h3:hover {
  background: #fff;
  color: #f5174a;
}
.two-nav-active {
  z-index: 2;
  position: absolute;
  left: 245px;
  top: 16px;
  background-color: #fff;
  width: 938px;
}
.two-nav-left {
  padding: 20px 0 0 20px;
}
.two-nav-title p {
  font-size: 14px;
  color: #222222;
}
.two-nav-title .nav-title-arrow {
  width: 4px;
  height: 6px;
  display: block;
  background-image: url("../images/nav_sel.png");
  -webkit-background-size: cover;
  background-size: cover;
  margin: 7px 0 0 6px;
}
.two-nav-list {
  margin-left: 20px;
  width: 550px;
  padding: 0 0 8px 8px;
  border-bottom: 1px dashed #e4e4e4;
}
.two-nav-list dd {
  display: inline-block;
  padding: 0 14px 8px 0;
}
.two-nav-list dd a {
  color: #666;
  font-size: 14px;
}
.two-nav-list dd a:hover {
  color: #f5174a;
}
.two-nav-left-wrap {
  margin-bottom: 15px;
}
.two-nav-right img {
  margin-bottom: 10px;
}
.two-nav,
.two-nav-active {
  display: none;
}
.two-nav li.on .two-nav-active {
  display: block;
}
.footer {
  min-height: 390px;
  background-color: #fff;
  border-top: 2px solid #f5174a;
}
.footer .footer-server {
  padding: 33px 0 30px 0;
  border-bottom: 1px solid #d6d6d6;
  text-align: center;
}
.server-item {
  border-right: 1px solid #d6d6d6;
  padding: 0 60px;
  display: inline-block;
}
.server-item:nth-child(4) {
  border-right: none;
}
.server-item .server-icon {
  margin-right: 10px;
  float: left;
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(../images/zp_icon.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.server-item .server-txt {
  float: left;
}
.server-item .server-txt h3 {
  font-weight: normal;
  font-size: 16px;
  color: #333333;
  padding-bottom: 12px;
}
.server-item .server-txt p {
  font-size: 12px;
  color: #999999;
}
.footer-content {
  margin: 34px 56px;
}
.foot-content-box {
  float: left;
}
.foot-content-box .foot-list {
  margin-right: 50px;
  vertical-align: top;
  font-size: 12px;
  color: #333333;
  display: inline-block;
}
.foot-content-box .foot-list .tel-red {
  font-size: 20px;
  color: #f5174a;
}
.foot-content-box .foot-list dt {
  margin-bottom: 24px;
}
.foot-content-box .foot-list dd {
  line-height: 22px;
}
.qrcode {
  float: right;
}
.qrcode .qrcode-wechat {
  float: left;
  display: block;
  width: 96px;
  height: 117px;
  background-image: url(../images/qrcode_app.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.qrcode .qrcode-wechat:nth-child(2) {
  background-image: url(../images/qrcode_wechat.png);
  margin-left: 10px;
}
.foot-address p {
  font-size: 12px;
  text-align: center;
  color: #666666;
}
.my-order {
  border-top: solid 1px #dddddd;
  background-color: #f4f4f4;
}
.order-box {
  width: 100%;
  border: solid 1px #dddddd;
}
.order-index {
  padding: 15px 0;
  font-weight: normal;
  font-size: 14px;
  color: #424242;
}
.order-list {
  background-color: #F8F8F8;
  border-bottom: solid 1px #dddddd;
}
.order-list li {
  float: left;
  height: 48px;
  line-height: 48px;
  padding: 0 36px;
  border-right: 1px solid #dddddd;
  font-size: 14px;
  color: #333333;
}
.redBox {
  background-color: #ffffff !important;
  border: solid 1px #f5174a !important;
  color: #f5174a;
  position: relative !important;
}
.redBox::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-image: url(../images/sel-box.png);
  -webkit-background-size: cover;
  background-size: cover;
  right: 0;
  bottom: 0;
}
.order-search {
  background-color: #fff;
  padding: 20px;
}
.order-inp .order-inp-block {
  float: left;
  width: 338px;
  height: 36px;
  border: solid 1px #ddd;
  border-right: none;
}
.order-inp .order-inp-block input {
  margin: 5px 0 0 10px;
  outline-style: none;
  border: none;
  width: 300px;
  height: 28px;
  font-size: 12px;
  color: #666;
}
.order-inp .order-inp-block input::-webkit-input-placeholder {
  font-size: 12px;
  color: #ccc;
}
.order-inp .order-inp-block input::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 12px;
  color: #ccc;
}
.order-inp .order-inp-block input:-ms-input-placeholder {
  font-size: 12px;
  color: #ccc;
}
.order-search-btn {
  float: left;
  font-weight: bold;
  border: none;
  font-size: 18px;
  letter-spacing: 1px;
  color: #ffffff;
  width: 60px;
  height: 38px;
  line-height: 34px;
  background-color: #efeeee;
  outline-style: none;
}
.order-search-btn .order-search-icon {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(../images/search.png);
  -webkit-background-size: cover;
  background-size: cover;
  margin-left: 20px;
}
.order-page span {
  display: inline-block;
  width: 62px;
  height: 36px;
  line-height: 36px;
  background-color: #ffffff;
  border-radius: 2px;
  border: solid 1px #dcdcdc;
  text-align: center;
  font-size: 12px;
  color: #3c3c3c;
  margin-left: 6px;
}
.order-page .page-gray {
  font-size: 12px;
  color: #e8e4e4;
  border: solid 1px #f3f3f3;
}
.order-table {
  border-collapse: collapse;
  border: none;
  background-color: #fff;
  width: 100%;
}
.order-table .thead {
  background-color: #efeeee;
  height: 48px;
  font-size: 14px;
  color: #333333;
}
tbody {
  border-top: 10px solid #fff;
  font-size: 12px;
}
tbody td {
  text-align: center;
}
.order-txt {
  border-top: 1px solid #ddd;
  height: 40px;
  background-color: #fef8d7;
}
.order-txt p {
  float: left;
  padding-left: 20px;
}
.order-txt a {
  float: right;
  color: #f5174a;
  padding-right: 70px;
  vertical-align: middle;
}
.pro-img {
  width: 364px;
  text-align: left;
}
.pro-img img {
  margin: 20px 0 20px 16px;
  float: left;
}
.pro-img .pro-content {
  float: left;
  margin: 35px 0 0 16px;
}
.pro-img .pro-content .pro-txt {
  line-height: 18px;
  padding-bottom: 14px;
  width: 204px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.buy-msg {
  width: 130px;
  text-align: left;
}
.buy-msg p {
  padding-left: 46px;
  padding-bottom: 4px;
  position: relative;
}
.buy-msg p i {
  position: absolute;
  display: block;
  width: 17px;
  height: 17px;
  background-image: url(../images/user_icon.png);
  -webkit-background-size: cover;
  background-size: cover;
  left: 20px;
}
.buy-msg p:nth-child(2) i {
  background-image: url(../images/te_icon.png);
}
.order-edit {
  width: 195px;
}
.order-edit a {
  margin: 0 10px 10px 0;
  float: left;
  color: #222222;
  text-align: center;
  line-height: 28px;
  display: block;
  width: 74px;
  height: 28px;
  background-color: #ffffff;
  border-radius: 3px;
  border: solid 1px #d3d2d2;
}
.price-gray {
  color: #abaaaa;
  padding-top: 4px;
}
.order-xq {
  color: #f5174a;
  padding-top: 4px;
  display: block;
}
.order-edit .edit-red {
  border: solid 1px #f5174a;
  color: #f5174a;
}
.tr-border {
  border-bottom: solid 2px red;
}
.order-pagination {
  padding: 13px 0 60px 0;
}
.order-pagination .pagi-list {
  text-align: right;
}
.order-pagination .pagi-list li {
  display: inline-block;
  width: 34px;
  height: 34px;
  border: solid 1px #d9d9d9;
  font-size: 14px;
  color: #666666;
  text-align: center;
  line-height: 34px;
}
.order-pagination .pagi-list .pagi-red {
  background-color: #f5174a;
  color: #fff;
}
.pay-time {
  font-size: 16px;
  height: 60px;
  background-color: #fef8d7;
  border: solid 1px #d6d6d6;
  line-height: 60px;
  margin: 15px 0 0 0;
}
.pay-time .time-txt {
  padding-left: 30px;
  color: #222222;
}
.pay-time .all-time {
  padding-right: 30px;
  color: #f5174a;
}
.payOrder {
  padding-bottom: 60px;
  border-top: solid 1px #dddddd;
  background-color: #f4f4f4;
}
.pay-box-list {
  padding: 0 30px;
}
.payOrder-box {
  background-color: #ffffff;
  border: solid 1px #dddddd;
  margin: 20px 0 0  0;
}
.payOrder-box .pay-title {
  padding-left: 30px;
  font-size: 16px;
  color: #222222;
  line-height: 60px;
  height: 60px;
  background-color: #fafafa;
  font-weight: normal;
}
.pay-custom {
  margin: 20px 0  0 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.pay-custom h4 {
  font-size: 14px;
  color: #222222;
}
.pay-custom .custom-txt {
  margin-left: 90px;
}
.pay-custom .custom-txt li {
  padding-top: 12px;
  font-size: 12px;
  color: #666666;
}
.pay-custom .custom-txt li .copy-num {
  width: 60px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 2px;
  border: solid 1px #dddddd;
  color: #999999;
  font-size: 12px;
  padding: 2px;
  cursor: pointer;
}
.pay-product h4 {
  font-size: 14px;
  color: #222222;
  margin: 20px 0 ;
}
.pay-table {
  border: none;
  background-color: #fff;
  width: 100%;
  border-collapse: collapse;
}
.pay-table .thead {
  background-color: #fafafa;
  height: 40px;
  font-size: 14px;
  color: #333333;
}
.pay-table .thead th {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  font-weight: normal;
}
.pay-table .thead th:last-child {
  border-right: none;
}
.product-wrap {
  width: 500px;
}
.product-wrap .proImg {
  margin: 16px 0 20px 30px;
}
.pro-info {
  font-size: 12px;
  margin: 28px 0 40px 14px;
  width: 250px;
  text-align: left;
}
.pro-info .pro-info-title {
  line-height: 20px;
  margin-bottom: 14px;
}
.pro-info .freight {
  color: #999;
}
.allData {
  height: 80px;
  border-top: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
}
.allData .allData-txt {
  cursor: pointer;
  width: 100px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  border: solid 1px #f5174a;
  font-size: 14px;
  color: #f5174a;
  line-height: 40px;
  text-align: center;
  margin: 20px  auto 0;
}
.num-red {
  color: #f5174a;
}
.textarea {
  width: 100%;
  height: 130px;
  background-color: #f8f8f8;
}
.textarea .words {
  font-size: 12px;
  color: #808080;
  float: right;
  padding-right: 16px;
}
.textarea textarea {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  border: none;
  outline: none;
  resize: none;
  background-color: #f8f8f8;
  padding: 23px 20px 0 20px;
}
.textarea textarea::-webkit-input-placeholder {
  font-size: 12px;
  color: #808080;
}
.textarea textarea::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 12px;
  color: #808080;
}
.textarea textarea:-ms-input-placeholder {
  font-size: 12px;
  color: #808080;
}
.footer-tip {
  font-size: 12px;
  color: #999999;
  margin: 20px  0 29px 30px;
}
.payPage-box {
  height: 394px;
  background-color: #ffffff;
  border: solid 1px #d6d6d6;
  margin-top: 20px;
  padding: 30px 30px 0 30px;
  box-sizing: border-box;
}
.payPage-time {
  height: 50px;
  background-color: #fef8d7;
  line-height: 50px ;
  padding-left: 30px;
}
.payPage-title {
  padding: 30px 0 20px 0;
  font-size: 18px;
  letter-spacing: 1px;
  color: #1c211b;
}
.pay-type .pay-wh {
  cursor: pointer;
  margin-right: 26px;
  position: relative;
  height: 50px;
  background-color: #ffffff;
  border: solid 1px #dddddd;
  line-height: 50px;
  font-size: 18px;
  letter-spacing: 1px;
  color: #444444;
  padding-left: 70px;
  padding-right: 34px;
  box-sizing: border-box;
}
.pay-type .pay-wh:nth-child(2) .pay-icon {
  top: 12px;
  height: 26px;
  background-image: url(../images/zfb.png);
}
.pay-type .pay-wh .pay-icon {
  left: 34px;
  top: 13px;
  width: 26px;
  height: 24px;
  background-image: url(../images/wechat.png);
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
}
.now-pay {
  margin-top: 50px;
  width: 144px;
  height: 46px;
  background-color: #d0d0d0;
  border-radius: 3px;
  display: block;
  font-size: 18px;
  color: #9b9b9b;
  text-align: center;
  line-height: 46px;
}
.pay-active {
  background-color: #f5174a;
  color: #fff;
}
.payScan {
  height: 704px;
  background-color: #ffffff;
  border: solid 1px #d6d6d6;
  margin: 20px 0 60px 0;
  padding: 0 30px;
}
.payScan-title {
  padding-left: 30px;
  height: 90px;
  text-align: center;
  position: relative;
  line-height: 90px;
  border-bottom: 1px solid #f5174a;
  font-size: 26px;
  color: #1c211b;
}
.payScan-title .title-icon {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../images/wechat_icon.png);
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  left: 476px;
  top: 25px;
}
.qrCode-img {
  margin: 58px  auto 55px;
  display: block;
  width: 280px;
  height: 280px;
  background-image: url(../images/qrCode.png);
  -webkit-background-size: cover;
  background-size: cover;
}
.scan-img {
  margin: 0 auto;
  display: block;
  width: 280px;
  height: 86px;
  background-image: url(../images/scan.png);
  -webkit-background-size: cover;
  background-size: cover;
}
.scan-price {
  font-size: 46px;
  letter-spacing: 2px;
  color: #f5174a;
  text-align: center;
  margin-top: 20px;
}
.scan-dialog {
  position: absolute;
  width: 600px;
  height: 174px;
  background-color: #ffffff;
  box-shadow: 0 9px 13px 0 rgba(0, 0, 0, 0.35);
  left: 50%;
  margin-left: -300px;
  top: 212px;
}
.dialog-title {
  padding-left: 15px;
  line-height: 55px;
  height: 55px;
  border-bottom: 1px solid #f4f4f4;
  position: relative;
}
.dialog-title .scan-close {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background-image: url(../images/close.png);
  -webkit-background-size: cover;
  background-size: cover;
  right: 18px;
  top: 22px;
}
.scan-time {
  padding-left: 40px;
  line-height: 50px;
  height: 50px;
  border-bottom: 1px solid #f4f4f4;
}
.scan-btn .keep-pay {
  margin: 12px 20px;
  width: 96px;
  height: 34px;
  background-color: #f8f6f6;
  border-radius: 3px;
  border: solid 1px #dad8d8;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 1px;
  color: #222222;
  text-align: center;
}
.scan-btn .leave {
  background-color: #f5174a;
  color: #fff;
}
.pay-success {
  text-align: center;
  margin: 20px 0 0 0;
  height: 600px;
  background-color: #ffffff;
  border: solid 1px #d6d6d6;
}
.success-title {
  height: 36px;
  line-height: 36px;
  position: relative;
  padding-left: 40px;
  margin-top: 96px;
  font-size: 16px;
  letter-spacing: 1px;
  color: #f5174a;
  padding-bottom: 5px;
}
.success-title .success-icon {
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  background-image: url(../images/success.png);
  -webkit-background-size: cover;
  background-size: cover;
  left: 530px;
  top: 0;
}
.success-info {
  font-size: 12px;
  line-height: 26px;
  color: #999999;
}
.success-btn {
  margin-top: 55px;
  text-align: center;
}
.success-btn .look-order {
  display: inline-block;
  width: 112px;
  height: 34px;
  background-color: #ffffff;
  border-radius: 3px;
  border: solid 1px #dad8d8;
  font-size: 16px;
  color: #444444;
  line-height: 34px ;
}
.success-btn .keep-stock {
  background-color: #f8f6f6;
  color: #f5174a;
  border: solid 1px #f5174a;
}
/*# sourceMappingURL=style.css.map */