[v-cloak] {
    display: none !important;
}

html,
body {
    position: relative;
    height: 100%;
}

html {
    /* overflow:hidden; */
}

* {
    padding: 0;
    margin: 0;
}

em,
i {
    font-style: normal
}

li {
    list-style: none;
}

body {
    background: #eeeeee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #999
}

img {
    width: 100%;
    display: block
}

.bab_opt_header {
    min-height: 45px;
    background-color: #FFF;
    position: relative;
    z-index: 2;
}

.header,
.header a {
    font-family: "PingHei", "Lucida Grande", "Lucida Sans Unicode", "STHeiti", "Helvetica", "Arial", "Verdana", "sans-serif";
    font-size: 16px;
    text-decoration: none;
    color: #252525;
}

.header {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 44px;
    text-decoration: none;
    color: #252525;
}

.header-new-bar {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    min-height: 44px;
    background: #fff;
}

.header-icon-back,
.header-icon-logo {
    position: absolute;
    width: 40px;
    height: 44px;
}

.header-icon-back span {
    margin: 12px 0 0 10px;
    width: 20px;
    height: 20px;
    background: url(../images/bak.png) no-repeat center;
    background-position: 0 0;
    -webkit-background-size: contain;
    background-size: contain;
}

.header-icon-back span,
.header-icon-shortcut span,
.header-icon-cancel span,
.header-icon-search span {
    overflow: hidden;
    text-indent: -100px;
    display: block
}

.header-new-title {
    margin: 0 70px;
    height: 44px;
    font-size: 16px;
    line-height: 44px;
    text-align: center;
    color: #333;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header-icon-new-shortcut {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 44px;
}

.header-icon-new-shortcut span {
    display: inline-block;
    margin: 12px 12px 12px 10px;
    width: 20px;
    height: 20px;
    background: url(../images/more.png) no-repeat center center;
    background-size: 20px;
}

.author-header .article-title {
    /* font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 600;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: .5rem;
    margin-bottom: .75rem; */
    font-size: 0.3rem;
    color: rgb(48, 48, 48);
    padding: 0.43rem 0 0.4rem 0;
    text-align: center
}

.author-header .author-head {
    /* margin-bottom: 0.25rem; */
    text-align: center;
    position: relative;
    border-top: 1px solid rgb(164, 164, 164);
}

/* .author-header .author-head::after{
    content: "";
    height: 1px;
    width: 100%;
    background: rgb(164, 164, 164);
    position: absolute;
    left: 0;
    bottom: 8px;
    z-index: 1;
} */

.author-header .author-head .author-pic {
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    margin-left: 1rem;
    margin-right: .1rem;
    vertical-align: bottom;
    display: inline-block
}

.author-header .author-head .author-name {
    color: #989898;
    font-size: .3rem;
    line-height: 0.3rem;
    text-align: center;
    background: #fff;
    z-index: 12;
    padding: 0 0.3rem;
    position: absolute;
    left: 50%;
    top: 0;
    margin: -8px 0 0 -1.85rem;
}

.article-container p {
    font-size: 0.24rem;
    color: rgb(48, 48, 48);
    line-height: 0.48rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
}

#article {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: #fff;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    /* position: absolute;
    left: 0;
    top: 0;
    bottom: 0 */
}

.headerFix {
    position: fixed;
    left: 0;
    top: 0;
    transition: all 1s linear
}

.article-container {
    padding: 0.25rem 0.3rem 0
}

.article-container .read {
    width: 100%;
    height: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
    display: none;
}

.article-container .read span {
    display: inline-block;
    line-height: 0.5rem;
    font-size: 0.3rem;
    color: rgb(164, 164, 164)
}

.article-container .read span:first-child {
    float: left;
    /* background: url(../images/new_zan.png) no-repeat top center;
    background-size: 100% 100%; */
    /* text-indent: 0.7rem; */
    position: relative;
    font-size: 0.36rem
}

/* .article-container .read span:first-child::after{
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    background: url(../images/new_zan.png) no-repeat top center;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 0
} */

.read span.add img {
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    vertical-align: text-bottom
}

.article-container .read span:last-child {
    float: right;
}

.praise img.animation {
    animation: myfirst 0.5s;
    -moz-animation: myfirst 0.5s;
    /* Firefox */
    -webkit-animation: myfirst 0.5s;
    /* Safari 和 Chrome */
    -o-animation: myfirst 0.5s;
    /* Opera */
}

@keyframes myfirst {
    0% {
        width: 40px;
        height: 40px;
    }
    50% {
        width: 50px;
        height: 50px;
    }
    100% {
        width: 40px;
        height: 40px;
    }
}

@-moz-keyframes myfirst
/* Firefox */

    {
    0% {
        width: 40px;
        height: 40px;
    }
    50% {
        width: 50px;
        height: 50px;
    }
    100% {
        width: 40px;
        height: 40px;
    }
}

@-webkit-keyframes myfirst
/* Safari 和 Chrome */

    {
    0% {
        width: 40px;
        height: 40px;
    }
    50% {
        width: 50px;
        height: 50px;
    }
    100% {
        width: 40px;
        height: 40px;
    }
}

@-o-keyframes myfirst
/* Opera */

    {
    0% {
        width: 40px;
        height: 40px;
    }
    50% {
        width: 50px;
        height: 50px;
    }
    100% {
        width: 40px;
        height: 40px;
    }
}

::-webkit-scrollbar{
    display: none;
}