$padd50:.5rem;
$fontSize32:.32rem;
$fontSize58:.58rem;
$color0c0202:#0c0202;
$padd44:.44rem;
$colorEcecec:#ececec;
$colorF52555:#f52555;
$fontSize28:.28rem;
$color333:#333;
$padd60:.6rem;
$padd48:.48rem;
$color999:#999;
$padd77:.77rem;
$heiAWid:1rem;
$padd35:.35rem;
$padd20:.2rem;

