.gray {
    width: 100%;
    height: .2rem;
    background: #f8f8f8;
}

img {
    width: 100%;
}

.detail-show {
    widows: 100%;
    padding: .9rem .3rem;
    background: #fff;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-items: center;
    justify-items: center;
    align-items: center;

    .detail-show-inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-items: center;
        align-items: center;

        &::after {
            content: "";
            width: 100%;
            height: 1px;
            background: #ececec;
            transform: scaleY(.9);
            position: absolute;
            left: 0.3rem;
            bottom: 0
        }

        .detail-pic {
            max-width: 6.3rem;
            padding-bottom: .4rem;
            overflow: hidden;
        }

        .detail-name {
            font-size: .34rem;
            color: #0c0202;
            height: .8rem;
            display: flex;
            justify-items: center;
            justify-items: center;
            align-items: center;
        }

        .detail-time {
            font-size: .3rem;
            color: #999;
        }
    }
}
.detail-status{
    padding: .6rem;
    background: #fff;
    .sameBom{
        margin-bottom: .5rem;
        display: flex;
    }
    .sameSize{
        width: 1.33rem;
        font-size: .28rem;
        color: #808080;
        display: inline-block;
        margin-right: .3rem;
    }
    .sameColr{
        flex: 1;
        font-size: .28rem;
        color: #333;
        display: inline-block;
    }
}