.share-ewm {
    padding-bottom: 100%;
    width: 100%;
    height: 100%;
    background: #f51649;
    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        margin: auto;
    }

}