$hei98:.98rem;
$wid200:2rem;
$hei56:.56rem;
$wid46:.46rem;
$hei34:.34rem;
$hei626:6.26rem;
$fontSize34:.34rem;
$color0c0202:#0c0202;
$fontSize24:.24rem;
$color999:#999;
$fontSize26:.26rem;
$color333:#333;
$fontSize30:.3rem;
$color808080:#808080;
$colorfff:#fff;
$fontSize22:.22rem;
$padd24:.24rem;
$padd43:.43rem;
$hei47:.47rem;
$hei38:.38rem;
$hei37:.37rem;
$wid130:1.3rem;
$padd20:.2rem;
$padd49:.49rem;
$padd5:.05rem;
$hei30:.3rem;
$padd40:.4rem;
$padd50:.5rem;